doctype html
html
  head
    title HTML5 Portal
    script(type="text/javascript", src="bower_components/angular/angular.js")
    script(type="text/javascript", src="bower_components/angular-route/angular-route.js")
    script(type="text/javascript", src="javascripts/app.js")

    link(rel="stylesheet", type="text/css", href="bower_components/bootstrap/dist/css/bootstrap.css")
  body
    block content